aplikace/midi/data/*
aplikace/log/*
aplikace/temp/*
aplikace/vendor/Nette/*
Thumbs.db
subdomeny/midi2/*.json
subdomeny/midi2/img/dvd
subdomeny/hudba/img/agentura
subdomeny/hudba/img/bazar
subdomeny/hudba/img/vydavatelstvi
