
{block content}

<h1 n:block="title">Karaoke na DVD</h1>

<p>
  Veškeré nabízené skladby z mého katalogu je také možno zpracovat jako karaoke pro přehrávání v DVD přehrávačích.
</p>

<p>
  Vybrané skladby lze objednat e-mailem (lubos.p@cbox.cz). Cena za jednu skladbu je 30 Kč.
</p>

<p>
  Všechny skladby zašlu na vámi uvedenou adresu poštovní dobírkou.
</p>

<p>
  Ukázková skladba ke stažení (formát: mpg, velikost: 6 MB)
</p>
