html,body {
 margin: 0;
 padding: 0;
 height: 100%;
}
#body-wrap {
   min-height: 100%;
   position: relative;
   background: #fff url(../img/bg-noty.jpg);
}
#page {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 200px;
}
#page h1 {
  margin-top: 0;
}

#ulozeni legend {display: none;}
#katalog {
  color: #444;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  vertical-align: center;
  font-size: 18px;
  text-align: right;
  font-family: 'Raleway', sans-serif;
}
#katalog span {
  float: right;
}
#katalog .glyphicon {
  font-size: 40px;
  margin-right: 10px;
  font-weight: normal;
}
#katalog:hover .glyphicon {
  color: #ed9c28;
}

.carousel-wrapper {
  margin-top: 20px;
}
.carousel {
  text-align: center;
}
.carousel h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 31px;
}
.carousel .item {
  height: 200px;
}
.carousel .carousel-caption {
  color: black;
  font-size: 18px;
  text-shadow: none;
  font-family: 'Raleway', sans-serif;
}
.carousel .carousel-caption p{
  margin-bottom: 15px;
}
.carousel .carousel-control {
  background-image: none;
  width: 10%;
}

#header, #footer {
  background-color: #444;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}

#header #uzivatel {
  color: #ccc;
  padding: 5px 0;
}

#header2 {
  min-height: 100px;
  padding-top: 20px;
  background: #62B0CE url(../img/bg.jpg) no-repeat center top;
}

#header2 a{
  text-decoration: none;
}

#header2 h1{
  margin-top: 5px;
  font-family: 'Comfortaa', cursive;
  color: #444;
  line-height: 24px;
  font-size: 39px;
}

#header2 h1 span{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

#footer {
  padding: 20px;
  color: #ccc;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}
#footer a{
  color: #ccc;
}

.navbar {
  min-height: 20px;
  border-radius: 0;
  border: none;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ccc;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-nav>li:first-child>a {
  padding-left: 0;
}


#boxy {
  margin-top: 30px;
}
#boxy h3 {
  text-align: center;
}

#boxy img {
  width: 128px;
  height: 128px;
}

#boxy ul li{
  padding: 3px 0;
}

#boxy {
  text-align: center;
}
#boxy ul{
  text-align: left;
}

#boxy .puntik {
  background-color: #F5B611;
  font-size: 50px;
  width: 130px;
  height: 130px;
  text-align: center;
  line-height: 130px;
  border-radius: 50%;
  margin: 0 auto;
}

#boxy .formaty:hover .puntik,
#boxy .novinky:hover .puntik,
#boxy .oblibene:hover .puntik {
  background-color: #ED9C28;
}

#hledaniForm-wrapper h3{
  margin-top: 0;
}

#frm-hledaniForm select,
.tt-query,
.tt-hint {
  width: 400px;
  height: 100%;
}

.tt-hint {
  color: #fff;
}

#header2 .tt-hint, #header2 #hledaniSkladby #nazev {
  background-color: #fff;
  height: 45px;
  border-radius: 0;
}

.tt-dropdown-menu {
  width: 400px;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.tt-suggestion {
  padding: 3px 20px;
}
.tt-suggestion p {
  margin: 0;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}

/* u registraèního formuláøe je potøeba mít širší label, jinak se do nìj nevejdou texty */
#frm-uzivatelForm .control-label {
  width: 25%;
}

form ul.error {
  color: #a94442;
  padding-left: 20px;
}

.pagination-wrapper {
  text-align: center;
}
th a {
  color: #000;
}
th a:hover {
  text-decoration: none;
}
.well,
.table-striped>tbody>tr:nth-child(odd)>td {
  background-color: #ECF1FA;
}
.table>tbody>tr>td {
  border-top: 1px solid #CED8EA;
}
.well {
  border: 1px solid #CED8EA;
}
.btn-warning {
  background-color: #F5B611;
}
#header2 .btn-warning {
  font-family: 'Raleway', sans-serif;
}
.alert {
  margin-top: 20px;
}
@media print {
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
}