#ulozeni legend {display: none;}
#katalog {
  color: #444;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  vertical-align: center;
  font-size: 18px;
  text-align: right;
}
#katalog span {
  float: right;
}
#katalog .glyphicon {
  font-size: 40px;
  margin-right: 10px;
  font-weight: normal;
}
#katalog:hover .glyphicon {
  color: #ed9c28;
}

.btn-warning {
  background-color: #F5B611;
}

.carousel-wrapper {
  margin-top: 20px;
}
.carousel {
  text-align: center;
}
.carousel .item {
  height: 200px;
}
.carousel .carousel-caption {
  color: black;
}
.carousel .carousel-control {
  background-image: none;
  width: 10%;
}
#header {
  background-color: #444;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}

#header #uzivatel {
  color: #ccc;
  padding: 5px 0;
}

#header2 {
  min-height: 100px;
  margin-bottom: 30px;
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  background: #A8E2F8 url(../img/bg.jpg) no-repeat center top;
}

#header2 a{
  text-decoration: none;
}

#header2 h1{
  margin-top: 5px;
  font-family: 'Comfortaa', cursive;
  color: #444;
  line-height: 24px;
}

#header2 h1 span{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.navbar {
  min-height: 20px;
  border-radius: 0;
  border: none;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ccc;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-nav>li:first-child>a {
  padding-left: 0;
}

.jumbotron {
  text-align: center;
  background-color: lightgrey;
  padding: 20px;
  margin: 0 0 20px 0;
}


#boxy h3 {
  text-align: center;
}

#boxy img {
  width: 128px;
  height: 128px;
}

#boxy ul li{
  padding: 3px 0;
}

#boxy .formaty, #boxy .novinky, #boxy .oblibene {
  padding-top: 130px;
}
#boxy .formaty {
  background: #fff url(../img/puntik-music.png) center top no-repeat;
}
#boxy .novinky {
  background: #fff url(../img/puntik-fire.png) center top no-repeat;
}
#boxy .oblibene {
  background: #fff url(../img/puntik-heart.png) center top no-repeat;
}
#boxy .formaty:hover {
  background: #fff url(../img/puntik-music2.png) center top no-repeat;
}
#boxy .novinky:hover {
  background: #fff url(../img/puntik-fire2.png) center top no-repeat;
}
#boxy .oblibene:hover {
  background: #fff url(../img/puntik-heart2.png) center top no-repeat;
}

#frm-hledaniForm select,
.tt-query,
.tt-hint {
  width: 400px;
}

.tt-hint {
  color: #fff;
}

#header2 .tt-hint, #header2 #hledaniSkladby #nazev {
  background-color: #fff;
  height: 45px;
  border-radius: 0;
}

.tt-dropdown-menu {
  width: 400px;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tt-suggestion {
  padding: 3px 20px;
}
.tt-suggestion p {
  margin: 0;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}

.pagination-wrapper {
  text-align: center;
}
th a {
  color: #000;
}
th a:hover {
  text-decoration: none;
}
.well,
.table-striped>tbody>tr:nth-child(odd)>td {
  background-color: #ECF1FA;
}
.table>tbody>tr>td {
  border-top: 1px solid #CED8EA;
}
.well {
  border: 1px solid #CED8EA;
}