parameters:
	hudba:
		adminMail: 'david.hellebrand@seznam.cz'
		hpbackMail: 'david@hellebrand.eu'

nette:
	database:
		dsn: 'mysql:host=127.0.0.1;dbname=midi'
		user: root
		password:
		options:
			lazy: yes

services:

factories:
